@import "~bootstrap/scss/bootstrap";

button:disabled {
  cursor: not-allowed;
}

.rss-help-wrapper {
  margin-bottom: 0.2rem;
}

.rss-help {
  color: blue;
  border-bottom: 1px dashed blue;
  cursor: pointer;
}